@model List<ETicaretApp.Models.Kategori>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center h2 mt-5">Kategori Sayfası</h2>
<hr />
@if (Model.Count == 0)
{
    <div class="alert alert-danger" role="alert">
        Sisteme kayıtlı kategori bulunamadı.
        <a href="/Kategori/Add" class="btn btn-primary">Ekle</a>
    </div>
}
else
{
    <div class="row mt-2 mb-2">
        <form action="/Kategori/Index" method="get">
            <input type="text" id="val" name="val" class="form-control" style="float: left; width: 90%; margin-left: 10px;" placeholder="Kategori Adı Örn. Gömlek" />
            <input type="submit" class="btn btn-success btn-sm" value="Ara" style="float: left; margin-top: 3px; margin-left: 3px;" />
            <a href="/Kategori/Add" class="btn btn-primary btn-sm" style="float: left; width: 50px; margin-top: 3px; margin-left: 3px;">Ekle</a>
        </form>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Kategoriye Ait Ürün Sayısı</th>
                <th>Veritabanı İşlemleri</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            counter++;
                        }@counter
                    </td>
                    <td>@item.KategoriAdi</td>
                    <td>@item.Urunleri.Count.ToString()</td>
                    <td class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-warning btn-sm" href="/Kategori/Update/@item.Id" style="width: 70px;">Güncelle</a>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <a class="btn btn-danger btn-sm" onclick="$silBtn(@item.Id)" style="width: 100px;">Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (ViewBag.msg != null && ViewBag.msg == true)
{
    <script>
        swal("Ekleme başarılı oldu", "Kategori eklendi", "success");
    </script>
}
<script>
    $silBtn = function(id) {
        swal({
            title: "Emin misiniz?",
            text: "Eğer silerseniz bu işlem geri alınamaz!",
            icon: "warning",
            buttons: true,
            buttons: ["Hayır", "Evet"],
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                window.location.href = '@Url.Action("Delete","Kategori")/' + id;
                swal("Kategori silindi.",
                    {
                        icon: "success",
                    });
            } else {
                swal("Silme işlemi iptal edildi.");
            }
        });
    };
</script>

