@model ETicaretApp.Models.Kategori
@{
    ViewBag.Title = "Update";
}

<h2 class="h2 text-center mt-2">Kategori Güncelleme Sayfası</h2>
<hr />
<div style="margin-left: 10px;">
    @using (Html.BeginForm("Update", "Kategori", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c=>c.Id)
        <br />
        <div class="row">
            <div class="col-md-4">
                <label><span class="h4">Kategori Adı</span></label>
                @Html.TextBoxFor(c => c.KategoriAdi, new { @class = "form-control mt-3", @style = "width:300px;" })
                @Html.ValidationMessageFor(c => c.KategoriAdi, null, new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2" style="width: 200px;">Güncelle</button>
        </div>
    }
</div>

